@layer base {
  html {
    font-family: 'Poppins', sans-serif;

    @apply text-sm 
    text-txt;
  }

  img,
  svg,
  button {
    @apply select-none;
  }

  input,
  textarea {
    @apply outline-none;
  }
}

body {
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
