@import './variables';

@layer components {
  .btn {
    @apply flex-center rounded-lg
    transition-all duration-250 ease-out  
    active:scale-95;
  }

  .btn--primary {
    @apply shadow-primary-v1 dark:shadow-primary-v4
    text-white bg-primary-v1 dark:bg-primary-v4
    hover:bg-primary-v1-hv dark:hover:bg-primary-v4-hv;
  }

  .btn--cancel {
    @apply bg-gray-100 text-gray-500 dark:text-white dark:bg-gray-700
    hover:bg-gray-200 dark:hover:bg-gray-600;
  }

  .header {
    height: theme($header-height);

    @screen lg {
      height: theme($header-height-lg);
    }
  }

  .sidebar {
    top: theme($header-height);

    height: calc(100vh - theme($header-height));

    @screen lg {
      top: theme($header-height-lg);

      height: calc(100vh - theme($header-height-lg));
    }
  }

  [data-contact-content-top] {
    height: theme($contact-content-top-height);
  }

  [data-contact-content-bottom] {
    height: calc(100vh - theme($contact-content-top-height));
  }
}

.scrollbar {
  &-track {
    background: transparent !important;

    transition-duration: 0.2s !important;
  }

  &-thumb {
    width: 6.5px !important;

    background: rgba(0, 0, 0, 0.4) !important;
  }
}
