@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 14px;

    color: #3e3f5e;
  }

  img,
  svg,
  button {
    user-select: none;
  }
}

@layer utilities {
  .i-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
