@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;

    @apply text-sm leading-base 
    text-txt;
  }

  img,
  svg,
  button {
    @apply select-none;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .btn {
    @apply shadow-primary-v1 dark:shadow-primary-v4
    text-white bg-primary-v1 dark:bg-primary-v4 
    transition-all duration-250 ease-out
    hover:bg-primary-v1-hv dark:hover:bg-primary-v4-hv;
  }
}
